.about-style {
    /* height: 100vh; */
    /* background-color: #ee7669; */
    background-color: #466af2;
    padding-top: 5%;
}

.about-page {
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    /* grid-template-rows: .3fr 1fr .3fr; */
    grid-template-areas: 
        ". me ."
        ". about ."
        ". socials .";
    /* align-items: center; */
    grid-row-gap: 30px;
}

.me {
    grid-area: me;
    display: grid;
}

.about {
    text-align: left;
    grid-area: about;
    display: grid;
    grid-template-columns: 50% 50%;
}

.socials {
    grid-area: socials;
    text-align: center;
}

.emphasis {
    color: #cfef59;
    font-size: 40px;
}

h2 {
    color: white;
    margin: 0;
    padding-left: 10%;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    padding-right: 25.5%;
    padding-left: 25.5%;
} 

.about-icons:hover{
    color: #cfef59;;
}

.name {
    font-size: 50px;
    color: #cfef59;
}

#me {
    width: 30vw;
    height: 67vh;
}

#subtitle {
    color: #cfef59;
    letter-spacing: .3vh;
    font-size: 30px;
}

#subtitle-2 {
    color: #cfef59;
    letter-spacing: .3vh;
    font-size: 25px;
}

#skills {
    font-size: 20px;
}