.about-page {
    height: 100vh;
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    grid-template-rows: .3fr 1fr .3fr;
    grid-template-areas: 
        ". . ."
        ". about ."
        ". . .";
    align-items: center;
    text-align: center;
}

.about {
    text-align: left;
    grid-area: about
}

.emphasis {
    color: #cfef59;
    font-size: 35px;
}

h2 {
    color: white;
}

h3 {
    color: #cfef59;
}