.homepage {
    height: 100vh;
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    grid-template-rows: .3fr 1fr .3fr;
    grid-template-areas: 
        ". . ."
        ". intro ."
        ". socials .";
    align-items: center;
    text-align: center;
}

.intro {
    grid-area: intro;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
}

.socials {
    grid-area: socials;
}

.fa-linkedin {
    font-size: 50px;
    color: white;
    padding: 2vw;
}

.fa-github-square {
    font-size: 50px;
    color: white;
    padding: 2vw;

}

.opacity {
    opacity: 0.3
}