.homepage {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.intro {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    text-align: center;
}

