/* .navbar {
    display: grid;
    grid-template-areas: 
        "home . . . . . . about projects resume";
    grid-template-columns:
        10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    color: #E85A4F;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.home {
    grid-area: home;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.resume {
    grid-area: resume;
} */

#sidebar {
    position: fixed;
    width: 500px;
    height: 100%;
    background: rgb(70, 106, 242);
    right: -500px;
    z-index: 1;
}

.active {
    right: 0px !important;
}

#sidebar ul {
    padding-top: 30px
}

#sidebar ul li {
    color: white;
    list-style: none;
    padding: 15px 10px;
    font-size: 50px;
    border-bottom: 5px solid white;
}

#sidebar .toggle-btn {
    position: absolute;
    right: 530px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #cfef59;
    margin: 5px 0px;
}

#sidebar .toggle-btn:hover {
    cursor: pointer;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #cfef59;
}
