.projects-page {
    height: 100vh;
    background-color: #1b1b1b;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        ". ."
        ". .";
    align-items: center;
    text-align: center;
    padding: 30px;
}

/* .page-title {
    font-size: 100px;
    color: #cfef59;
    text-align: left;
    padding: 50px;
    grid-area: page-title;
} */

.title {
    font-size: 100px;
    color: #cfef59;
    text-align: left;
    padding: 80px;
}

/* .projects {

} */

h1 {
    color: #cfef59;
}

img {
    width: 40vw;
    height: 40vh;
}

