.container {
    background: #466af2;
    padding-top: 5%;
    padding-bottom: 2%;
}

.details {
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    align-items: center;
}


.project-details {
    background: #466af2;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-title {
    color: #cfef59;
    letter-spacing: .2vh;
}

.fa-chevron-left {
    color: white;
    font-size: 50px;
    padding: 30px;
}

.fa-chevron-left:hover {
    cursor: pointer;
    color: #cfef59;
}

.fa-chevron-right {
    color: white;
    font-size: 50px;
    padding: 30px;
}

.fa-chevron-right:hover {
    cursor: pointer;
    color: #cfef59
}

#tech {
    color: white;
    font-size: 25px;
}

#descrip {
    font-size: 25px;
    color: white;
}

#bullet-points {
    font-size: 20px;
    color: white;
}