.projects-page {
    background: #466af2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
    /* align-items: center;
    text-align: center; */
}

/* .title {
    font-size: 100px;
    color: #cfef59;
    text-align: left;
    padding: 80px;
} */

.project-card {
    letter-spacing: .3vh;
    text-align: center;
}

.project-links {
    color: #cfef59;
    text-decoration: none;
}

.project-links:hover {
    color: white;
}

img {
    width: 45vw;
    height: 45vh;
}

.project-display {
    border-style: solid;
    border-width: 3px;
    border-color: white;
}
